<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
  
      <div class="jumbotron text-center">
        <h1>Latest Mars News</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data!</a></p>
      </div>
  
      <!-- Mars Data -->
      <div class="row" id="nasa_news">
        <div class="col-md-12">
          <h2 class="heading">{{nasa_title}}</h2>
          <h4>{{nasa_paragraph}}</h4>
        </div>
      </div>

      <div class="row" id="mars_image">
          <div class="col-md-6">
              <h2>Featured Mars Image</h2>
              <img id="image" src="{{mars_image}}" style="max-width:100%; max-height: auto;" alt="mars image">
          </div>
      </div>

      <div class="row" id="twitter">
          <div class="col-md-12">
              <h2>Current Mars Weather</h2>
              <h4>{{mars_weather}}</h4>
          </div>
      </div>

      <div class="row" id="space_facts">
          <div class="col-md-12">
              <h2>Facts about Mars</h2>
              <table>{{final_mars_table}}</table>
          </div>
      </div>

      <div class="row" id="hemisphere">
          <div class="col-md-6">
              <h2>Mars Hemispheres</h2>
              {% for item in hemisphere_img_urls%}
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <p class="card-text">Mars Hemispheres: {{ item.title}}</p>


          </div>
      </div>

    </div>
  </body>
  
  </html>
  
  
